<?xml version="1.0"?>
<config>
  <modules>
    <Gaggle_Flyermenu>
      <version>1.0.0</version>
    </Gaggle_Flyermenu>
  </modules>
  <frontend>
    <routers>
      <flyermenu>
        <use>standard</use>
          <args>
            <module>Gaggle_Flyermenu</module>
            <frontName>flyermenu</frontName>
          </args>
      </flyermenu>
    </routers>
		<layout>
		  <updates>
			<flyermenu>
			  <file>gaggle/flyermenu.xml</file>
			</flyermenu>
		  </updates>
		</layout>
		
  </frontend>
  <adminhtml>
    
		<layout>
		  <updates>
			<flyermenu>
			  <file>gaggle/flyermenu.xml</file>
			</flyermenu>
		  </updates>
		</layout>
		
  </adminhtml>
  <global>
	<models>	 
		  <flyermenu>
			<class>Gaggle_Flyermenu_Model</class>
		  </flyermenu>
    </models>
	<resources>
		<flyermenu_setup>
			<setup>
				<module>Gaggle_Flyermenu</module>
				<class>Mage_Core_Model_Resource_Setup</class>
			</setup>
		</flyermenu_setup>
	</resources>
    <helpers>	 
      <flyermenu>
        <class>Gaggle_Flyermenu_Helper</class>
      </flyermenu>
    </helpers>
	<blocks>
	  <flyermenu>
		<class>Gaggle_Flyermenu_Block</class>
	  </flyermenu>
	</blocks>
  </global>
  <default>
        <flyermenu>
            <general>
                <status>1</status>
				<type>slide-menu-left</type>
            </general>
        </flyermenu>
    </default>
</config> 